@import "tailwindcss";

@font-face {
  font-family: "Fleur";
  src: url("$lib/fonts/FleurDeLeah-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nostalgia";
  src: url("$lib/fonts/NouveauNostalgia.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Qinferly";
  src: url("$lib/fonts/Qinferly.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-fleur: "Fleur", sans-serif;
  --font-qinferly: "Qinferly", sans-serif;
  --font-nostalgia: "Nostalgia", sans-serif;
}
